$primary-color: #fff;
$secondary-color: #000;
$third-color: #a79a2d;
$fourth-color: #aaa;
$fifth-color: #333;
$sixth-color: #222;
$seventh-color: #817824;
$eighth-color: #8f8317;
$ninth-color: #111;
$tenth-color: #888;
$eleventh-color: #eee;